<form method="post" class="form-horizontal ajax-validate" id="editForm" action='__ACTION__'>
	<input type="hidden" name="roleId" value="{:I('get.id')}">
	<div class="box-header">
				<h3 class="box-title">权限列表</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			<div class="" id="treeMenuBox-ajax">
	      		<ul class="tree treeview root">
	      		<?php foreach($topPrivileges as $privlege1): ?>
	      			<li class="collapsable">
	      				<input type="checkbox" name="privilegeIds[]" value="{$privlege1['id']}" <?php echo in_array($privlege1['id'],$privilegeIds)?"checked":"" ?>>
	      				{$privlege1.title}
						<ul>
						<?php foreach($privlege1['children'] as $privlege2): ?>
							<li>
							<input type="checkbox" name="privilegeIds[]" value="{$privlege2['id']}" <?php echo in_array($privlege2['id'],$privilegeIds)?"checked":"" ?>>
							{$privlege2.title} 
								<ul>
									<?php foreach($privlege2['children'] as $privlege3): ?>
										<li>
										<input type="checkbox" name="privilegeIds[]" value="{$privlege3['id']}" <?php echo in_array($privlege3['id'],$privilegeIds)?"checked":"" ?>>
										{$privlege3.title} 
										</li>
									<?php endforeach;?>
								</ul>
							</li>
						<?php endforeach;?>
						</ul>
					</li>
	      		<?php endforeach;?>
				</ul>
			</div>
		 <div class="form-group">
	        <label class="col-md-2"></label>
	        <div class="col-md-4"> 
	        	<input type="submit" id="submit" class="btn btn-primary" value="修改" data-loading-text="稍候...">
			</div>
	      </div>
      </div>
</form>
<script type="text/javascript">
$("#treeMenuBox-ajax .root").treeview({animated: "fast",collapsed: false, unique: false});
//给所有的权限复选框添加事件
$("[name='privilegeIds[]']").click(function() {
	// 自己选中或取消时，把所有的下级权限也都同时选中或取消
	$(this).siblings("ul").find("input").prop("checked",this.checked);
	// 当选中一个权限时，也要同时选中所有的直系上级权限
	if (this.checked) {
		$(this).parents("li").children("input").prop("checked",true);
	}else {
		// 当取消一个权限时，同级没有选中的权限了，就也取消他的上级权限，再向上也这样做。
		if ($(this).parent().siblings("li").children("input:checked").size() == 0) {
			$(this).parent().parent().siblings("input").prop("checked", false);
			var start = $(this).parent().parent();
			if (start.parent().siblings("li").children("input:checked").size() == 0) {
				start.parent().parent().siblings("input").prop("checked", false);
			}
		}
	}
});
</script>
<script src="__JS__/edit.js" type="text/javascript"></script>