<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="__IMG__/avatar.png" class="img-circle"
					alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<?php foreach($_SESSION['_ACCESS_LIST'][MODULE_NAME] as $module=>$mv):
				if($mv["__INFO__"]["type"]!=0):?>
			<li class="treeview <?php echo $module==CONTROLLER_NAME?'active':'' ?>">
				<a href='javascript:void(0);'> <i class="fa fa-dashboard"></i>
					<span><?php echo $mv["__INFO__"]["title"]?></span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<?php unset($mv["__INFO__"]);foreach($mv as $action=>$av):if($av["type"]!=0):?>
						<li class="<?php if($module==CONTROLLER_NAME&&$action==ACTION_NAME){echo 'active';} ?>"><a href="{:U(MODULE_NAME."/".$module."/".$action)}">
							<i class="fa fa-circle-o"></i> <?php echo $av["title"]?></a>
						</li>
					<?php endif;endforeach; ?>
				</ul>
			</li>
				<?php else:?>
				<?php unset($mv["__INFO__"]);foreach($mv as $action=>$av):if($av["type"]!=0):?>
					<li class="<?php if($module==CONTROLLER_NAME&&$action==ACTION_NAME){echo 'active';} ?>"><a href="{:U(MODULE_NAME."/".$module."/".$action)}">
						<i class="fa fa-circle-o"></i> <?php echo $av["title"]?></a>
					</li>
				<?php endif;endforeach; ?>
			<?php endif;endforeach; ?>
			
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>

