<form method="post" class="form-horizontal" id="editForm" action='__ACTION__'>
<?php if(!$sstp_add):?>
	<input type="hidden" name="id" value="{$model.id}"/>
<?php endif;?>
  <div class="panel">
    <div class="panel-heading"><strong><?php echo $sstp_add?"添加":"编辑" ?></strong></div>
    <div class="panel-body">
      <div class="form-group"> 
        <label class="col-md-2 control-label">父级权限</label>
        <div class="col-md-8">
        	<select name="pid" id="parentId" class="chosen form-control">
			<option value="0">/</option>
        	<?php foreach($topPrivileges as $privlege1): ?>
        	<?php if($sstp_add):?>
        		<option value="{$privlege1['id']}" <?php if($privlege1['id']==$_GET['parentId']) echo "selected"?>>/{$privlege1.title }</option>
        		<?php foreach($privlege1['children'] as $privlege2): ?>
	        		<option value="{$privlege2['id']}" <?php if($privlege2['id']==$_GET['parentId']) echo "selected"?>>/{$privlege1.title }/{$privlege2.title }</option>
        		<?php endforeach;?>
        	<?php else:?>
	        	<?php if($model['id']!=$privlege1['id']):?>
	        		<option value="{$privlege1['id']}" <?php if($model['pid']==$privlege1['id']) echo "selected"; ?>>/{$privlege1.title }</option>
	        		<?php foreach($privlege1['children'] as $privlege2): ?>
	        		<?php if($model['id']!=$privlege2['id']):?>
	        			<option value="{$privlege2['id']}" <?php if($model['pid']==$privlege2['id']) echo "selected"; ?>>/{$privlege1.title }/{$privlege2.title }</option>
	        		<?php endif;?>
	        		<?php endforeach;?>
	        	<?php endif;?>
	        <?php endif;?>
			<?php endforeach;?>
			</select>
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">名称</label>
        <div class="col-md-4">
        	<input type="text" name="title" id="title" value='{$model.title}' class="form-control required {minlength:2}">
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-9">
        	<input type="text" name="name" id="name" value="{$model.name}" class="form-control required {minlength:5}">
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">图标</label>
        <div class="col-md-9">
        	<input type="text" name="icon" id="icon" value="{$model.icon}" class="form-control">
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">排序</label>
        <div class="col-md-9">
        	<input type="text" name="sort" id="sort" value="{$model.sort}" class="form-control">
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">类型</label>
        <div class="col-md-9">
        	非菜单<input type="radio" name="type" value="0" <?php echo $model[type]==0?"checked":"" ?>>　
        	菜单<input type="radio" name="type" value="1" <?php echo $model[type]!=0?"checked":"" ?>>
		</div>
      </div>
      <div class="form-group"> 
        <label class="col-md-2 control-label">描述</label>
        <div class="col-md-9">
        	<textarea name="remark" id="remark" class="form-control" rows="3">{$model.remark}</textarea>
		</div>
      </div>
      <div class="form-group">
        <label class="col-md-2"></label>
        <div class="col-md-4"> 
        	<input type="submit" id="submit" class="btn btn-primary" value="<?php echo $sstp_add?"添加":"编辑" ?>" data-loading="稍候...">
		</div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
$(".chosen").chosen({no_results_text: '没有匹配的选项', disable_search_threshold: 1, search_contains: true, width: '100%'});
//if($.fn.chosenIcons) $('#chosenIcons').chosenIcons();
$(function(){
	$("form").validate({
		rules : {
			required : {
				required : true
			},
			email : {
				required : true,
				email : true
			},
			date : {
				required : true,
				date : true
			},
			url : {
				required : true,
				url : true
			}
		},
		errorClass : "label-warning",
		highlight : function(element, errorClass, validClass) {
			$(element).parents('.control-group').addClass('has-error');
		},
		unhighlight : function(element, errorClass, validClass) {
			$(element).parents('.control-group').removeClass('has-error');
			$(element).parents('.control-group').addClass('success');
		},
	});
});
</script>