<extend name="Common:base" />
<block name="content">
<div class="row">
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">权限列表</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div id="treeMenuBox-ajax">
	      		<ul class="tree treeview">
	      		<?php foreach($topPrivileges as $privlege1): ?>
	      			<li class="collapsable">
	      				{$privlege1.title}
						<ul>
						<?php foreach($privlege1['children'] as $privlege2): ?>
							<li>{$privlege2.title} 
								<a href="{:U('update',array('id'=>$privlege2['id']))}" class="ajax">编辑</a>
								<a href="{:U('add',array('parentId'=>$privlege2['pid']))}" class="ajax">添加子权限</a>
								<a class="deleter" href="{:U('del',array('id'=>$privlege2['id']))}" onclick="return confirm('你确定要删除吗？');">删除</a>
								<ul>
									<?php foreach($privlege2['children'] as $privlege3): ?>
										<li>{$privlege3.title} 
											<a href="{:U('update',array('id'=>$privlege3['id']))}" class="ajax">编辑</a>
											<a class="deleter" href="{:U('del',array('id'=>$privlege3['id']))}" onclick="return confirm('你确定要删除吗？');">删除</a>
										</li>
									<?php endforeach;?>
								</ul>
							</li>
						<?php endforeach;?>
						</ul>
					</li>
	      		<?php endforeach;?>
				</ul>
			</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="box box-primary" id="privilege-right-edit-box">
			

		</div>
	</div>
</div>
</block>
<block name="style">
<link href="__CSS__/treeview.min.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/chosen.min.css" rel="stylesheet" type="text/css" />
</block>
<block name="script">
<script src="__JS__/treeview.min.js" type="text/javascript"></script>
<script src="__JS__/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(".tree").treeview({animated: "fast",collapsed: false, unique: false});

$(function(){
	$("#privilege-right-edit-box").load("{:U('add')}");
	$("#treeMenuBox-ajax a.ajax").click(function(e){
		$("#privilege-right-edit-box").empty().load(this.href);
		return false;
	});
});
</script>
</block>

